@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&family=Oswald&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(146, 169, 232);
}

::selection {
    background-color: black;
    color: yellow;
}

main {
    height: 50vh;
}

.megacontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scanner-box {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scanner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#video {
    width: 80%;
    height: 100%;
    border-radius: 10px;
}

.rotate-cam {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rotate-cam-icon {
    width: 70%;
    height: 70%;
}

.container-box {
    margin-top: 50px;
    display: flex;
    border: 5px solid black;
}

.search-box {
    width: 300px;
    height: 100%;
}

#search {
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: white;
    overflow: auto;
}

.button {
    width: 40px;
    height: 40px;
    color: white;
    background-color: red;
    box-shadow: inset 1px 0px 0px 1px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    margin-top: 10px;
    padding: 10px;
}
